@import "./reset.css";

header {
  margin-top: 30px;
}

.Notice-bold {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 20px;
}

.Notice-normal {
  text-align: center;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 30px;
}

.iphoneSe {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 200px;
}

.iphone-title {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 600;
}

.iphone-price {
  font-size: 27px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 20px;
}

.iphone-subprice {
  color: grey;
}

.iphone-link {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 30px;
}

.iphone-img {
  margin-bottom: -100px;
}

img {
  width: 100%;
}

.iphoneEleven {
  margin-top: 70px;
  text-align: center;
}
